$ff: 'Open Sans', sans-serif;
$ffl: 'Lora', serif;
$lh: 1.3;
$wh: #ffffff;
$bl: #404750;
$d-gray: #34415A;
$gray: #919FBA;
$gray2: #B7B7B7;
$blue: #2F6FC1;
$d-blue: #2059A2;
$lblue: #E4EBFD;
$lblue2: #F4F7FB;